.test-sprites {
  margin-top: 30px;
}
.test-sprites ul {
  padding: 0;
  margin: 0;
}
.test-sprites li {
  width: 0.48rem;
  height: 0.7rem;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 0.3rem;
  float: left;
  background: transparent url('http://nos.netease.com/edu-image/9BC0742AEB1A0B756EFC71B9DF77E452.png') 0 -0.02rem no-repeat;
  background-size: 10.72rem 4.42rem;
}
.test-sprites .icon2 {
  width: 0.74rem;
  height: 0.64rem;
  background-position: 18.83767535% 1.32275132%;
}
.test-sprites .icon3 {
  width: 0.71rem;
  height: 0.74rem;
  background-position: 39.06093906% 0.54347826%;
}
.test-sprites .icon4 {
  width: 0.72rem;
  height: 0.73rem;
  background-position: 59.1% 0.81300813%;
}
.test-sprites .icon5 {
  width: 0.73rem;
  height: 0.73rem;
  background-position: 79.27927928% 0.27100271%;
}
.test-sprites .icon6 {
  width: 0.67rem;
  height: 0.57rem;
  background-position: 99.10447761% 2.07792208%;
}
i {
  padding-top: 100%;
  width: 100%;
  display: block;
  background: url(http://nos.netease.com/edu-image/3A65D313376F13CE75CE01C2593BD1CE.png) 0 0 no-repeat;
  background-size: 2.2rem 2.2rem;
}
.i-sina {
  background-position: 6.28930818% 6.28930818%;
}
.i-qzone {
  background-position: 50.31446541% 6.28930818%;
}
.i-qq {
  background-position: 94.33962264% 6.28930818%;
}
.i-douban {
  background-position: 6.28930818% 50.31446541%;
}
.i-yixin {
  background-position: 50.31446541% 50.31446541%;
}
.i-renren {
  background-position: 94.33962264% 50.31446541%;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}
